torch
torchvision
torchaudio
pytorch-lightning>=1.4
lightly
matplotlib
seaborn
scikit-learn
scipy
pydicom
Pillow
opencv-python
requests
pandas
openpyxl
xlrd>=2.0.1
beautifulsoup4
scikit-image
